
* body {
    margin: 0;
    font-family: 'League Spartan', sans-serif;
    background-color: #a3b8d4;
    color: #ffffff;
}
.principal {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 24px;
    color: #ffffff;
    background: slategray;
    border: 100px;
    cursor: pointer;
}
.notification {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #ffffff;
}
.contenedor {
    position: absolute;
    top: 20px;
    right: 100px;
    display: flex;
    gap: 20px;
}
.barra {
    font-size: 18px;
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
}
.barra:hover {
    text-decoration: underline;
}
.centro {
    text-align: center;
}
.centro h1 {
    font-size: 48px;
    color: #f4a261;
    margin-bottom: 20px;
}
.centro h2 {
    font-size: 28px;
    color:#f95f5e;
    margin-bottom: 20px;
}

.sobre h1 {
    font-size: 48px;
    color: #f4a261;
    margin-bottom: 20px;
}
.sobre p {
    font-size: 18px;
    color: #ffffff;
}
.centro p {
    font-size: 18px;
    color: #ffffff;
}
.logo-image {
    margin-top: 20px;
}