@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    
    font-family : "Concert One", sans-serif;
  }
      h1 {
        text-align: center;
        color: #008DDA;
        font-size: 50px;
        font-weight: bolder;
  
      }
  
      h2 {
        text-align: left;
        color: black;
        font-size: 19px;
  
  
      }
  
      h3 {
        color: #008DDA;
        font-size: 28px;
      }
  
      p {
        color: black;
        font-size: 19px;
        font-family: "Work Sans", sans-serif;
        text-align: justify;
      }
      h5 {
        color: black;
        font-size: 19px;
        font-family: "Work Sans", sans-serif;
        text-align: center;
      }
  
  .principal{
    display: flex;
    justify-content: space-between;
    

  
  
  }
  .formulario input{
      vertical-align: middle;
      background-color: #ACE2E1;
      margin: 10px;
      font-size: 20px;
      border-radius: 70px;
      padding: 38px;
      width: 90%;
      display: flex;
      border-color: #008DDA;
      color:#008DDA;
      text-align: left;
  }
  
  .formulario button{
    background-color:#41c9e2;
    color:#f7eedd;
    margin: 5px;
    font-size: 20px;
    border-radius: 70px;
    padding: 38px;
    width: 90%;
    border-color: #008DDA;
  }
  
  
  .formulario h1{
    text-align: center;
  }
  
  .formulario button.xd{
    background-color:#008DDA;
    color:#f7eedd;
    margin: 5px;
    font-size: 20px;
    border-radius: 70px;
    padding: 38px;
    width: 90%;
    border-color: black;
  }
  table{
    vertical-align: middle;
    text-align: left;
    width: auto;
    
  }
  td{
    vertical-align: middle;
    text-align: left;
    width: auto;
  }
  #mail,#nombre,#paterno,#materno{
    text-align: right;
  }
  .hoña{
    width: 60% ;
    font-family : "Concert One", sans-serif;
}
.hoña1{
display: flex;
justify-content: flex-end; 
color:white;
font-size: 20px;
text-align: center;
width: 40%;
font-family : "Concert One", sans-serif;
}
.hoña button{
    background-color: #008DDA;
    font-size: 15pt;
    padding: 20px;
    width:49%;
    border:none;
    color:white;
    text-align: center;
    font-family : "Concert One", sans-serif;
}
.hoña1 button{
    background-color: #008DDA;
    font-size: 15pt;
    padding: 20px;
    width: 100%;
    border:none;
    color:white;
    text-align: center;
    font-family : "Concert One", sans-serif;
}

#hoña1.inactive{
    display:none
}
#hoña1.active{
    display: block;
}
#hoña.active{
    display: block;
}
#hoña.inactive{
    display: none;
}
.adios p{
  color:white;
  font-size: 15pt;
  font-family : "Concert One", sans-serif;
}
.hoña2 button{
  background-color: #ACE2E1;
  font-size: 23px;
  padding: 20px;
  width: 100%;
  border-color: #ACE2E1;
  border:none;
  color:#008DDA;
  text-align: center;
  font-family : "Concert One", sans-serif;
  
}
.hoña2 button:hover{
  background-color: #41c9e2;
  color:#ACE2E1;
}
.hoña2 img{
 
  width: 70%;
  
}
.id {
  align-items: center;
  vertical-align: middle;
  width: 85%;
}
.grafica {
  align-items: center;
}

#graph {
  border: 1px solid #ccc;
  padding: 10px;
  width: 400px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button {
  background-color: #008DDA;
  color: #f7eedd;
  margin: 1px;
  font-size: 25px;
  border-radius: 30px;
  padding: 20px;
  width: 10%;
  text-align: center;
  font-family: "Concert one" ,sans-serif;
  border-color: black;
  justify-content: center;
  cursor: pointer;
  box-shadow: inset 5 0 0 0 #008DDA;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;

}

button:hover {
  background-color: #41c9e2;
  color: #f7eedd;
  border-color: #008DDA;
  box-shadow: inset 0 100px 0 0 #008DDA;
}
input{
  font-family: "Concert one" ,sans-serif;
}